* {
  font-family: Monaco, Courier, monospace;
}

.index {
  background-color: rgb(225, 225, 225);
}

.enchiladas {
  background-color: rgb(211, 230, 202);
}

.stroganoff {
  background-color: rgb(231, 202, 202);
}

.clam-pasta {
  background-color: rgb(232, 232, 195);
}

.index {
  text-align: center;
}

.index h1 {
  font-size: 48px;
}

.recipes {
  list-style: none;
  padding: 0px;
}

.recipes li {
  margin: 20px;
}

.enchiladas-link {
  color: rgb(23, 128, 23);
}

.stroganoff-link {
  color: rgb(201, 29, 29);
}

.clam-pasta-link {
  color: rgb(196, 196, 24);
}
